.img-box {
  margin: 0 auto;
  width: 90%;
  height: 70px;
  overflow: hidden;
}

.img-box img {
  transform: rotate(31.25deg) scale(4);
  -webkit-transform: rotate(31.25deg) scale(4); /* Safari & Chrome */
  -moz-transform: rotate(31.25deg) scale(4); /* Firefox */
  -ms-transform: rotate(31.25deg) scale(4); /* Internet Explorer */
  -o-transform: rotate(31.25deg) scale(4); /* Opera */
  width: 100%;
  max-height: 100%;
  object-fit: contain;
  filter: hue-rotate(170deg);
}

.example-list {
  max-width: 100%;
  min-height: 60px;
  display: block;
  border-radius: 5px;
  overflow: hidden;
}

.example-box {
  margin: 10px 0;
  padding: 10px 0;
  border-radius: 5px;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.employee {
  font-size: 16px;
  text-align: center;
  padding: 5px;
}

.empllabel {
  display: inline-block;
  text-align: left;
  font-weight: 700;
  margin: 2px;
  letter-spacing: 2px;
  line-height: 1.5;
}

