<div cdkDropList (cdkDropListDropped)="onDrop($event)">
  <div class="row" *ngFor="let employee of employees; let i = index" cdkDrag>
    <div class="col-md-12 employeeinfo" (click)="clicked(i)">

      <h3>{{employee.name}}</h3>
      <div class="row p-0" *ngIf="(index === i) && show " @slideState>
        <div class="col-md-8">

          <div class="row">
            <div class="col-md-6"><p class="info">Height: {{employee.height}}</p></div>
          </div>

          <div class="row">
            <div class="col-md-6"><p class="info">Mass: {{employee.mass}}</p></div>
            <div class="col-md-6"><p class="info">Hair: {{employee.hair_color}}</p></div>
          </div>

          <div class="row">
            <div class="col-md-6"><p class="info">Birth Year: {{employee.birth_year}}</p></div>
            <div class="col-md-6"><p class="info">Skin: {{employee.skin_color}}</p></div>
          </div>

          <div class="row">
            <div class="col-md-6"><p class="info">Gender: {{employee.gender}} </p></div>
            <div class="col-md-6"><p class="info">Eye: {{employee.eye_color}}</p></div>
          </div>

        </div>
        <div class="col-md-4">
          <img src="https://image.flaticon.com/icons/svg/3/3901.svg" width="40%" class="mx-auto img-fluid"
               alt="nophoto">
        </div>
      </div>

      <div class="row">
        <div class="img-box">
          <img [src]="srcSword">
        </div>
      </div>

    </div>
  </div>
</div>
