.employeeinfo {
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

.info {
  font-size: 18px;
  letter-spacing: 1px;
}

.img-box {
  margin: 0 auto;
  width: 90%;
  height: 70px;
}

.img-box img {
  transform: rotate(31.25deg) scale(4);
  -webkit-transform: rotate(31.25deg) scale(4); /* Safari & Chrome */
  -moz-transform: rotate(31.25deg) scale(4); /* Firefox */
  -ms-transform: rotate(31.25deg) scale(4); /* Internet Explorer */
  -o-transform: rotate(31.25deg) scale(4); /* Opera */
  width: 100%;
  max-height: 100%;
  object-fit: contain;
  filter: hue-rotate(170deg);
}

