.shadowBox {
  box-shadow: 20px 20px 15px 9px darkgrey;
}

.img-box {
  margin: auto;
  width: 90%;
  height: 70px;
}

.img-box img {
  transform: scaleX(-1) rotate(31.5deg) scale(5);
  -webkit-transform: scaleX(-1) rotate(31.5deg) scale(5); /* Safari & Chrome */
  -moz-transform: scaleX(-1) rotate(31.5deg) scale(5); /* Firefox */
  -ms-transform: scaleX(-1) rotate(31.5deg) scale(5); /* Internet Explorer */
  -o-transform: scaleX(-1) rotate(31.5deg) scale(5); /* Opera */
  width: 100%;
  max-height: 100%;
  object-fit: contain;

}
